<h2 style="text-align: center;"><b>Python. Занятие 2: Циклы, списки</b></h2>

<img align=left src="https://cdn.fedoramagazine.org/wp-content/uploads/2015/11/Python_logo.png" style="height:160px;" />

<img align=center src="https://1.bp.blogspot.com/-16utHnlB3Ao/V4tpG8NBX0I/AAAAAAAAA7M/vDQ1p40JpE8M34eCr-UdriSV04Dn8au7QCLcB/s1600/jupyter-logo.png" style="height:90px;" />

### Циклы - for и while

Цикл for, также называемый циклом с параметром, в языке Питон богат возможностями. В цикле for указывается переменная и множество значений, по которому будет пробегать переменная. Множество значений может быть задано списком, кортежем, строкой или диапазоном.

Выражение for .. in это еще один способ выполнить блок кода - но оно позволяет выполнить блок кода для каждого из элементов из последовательности:

In [2]:
name = "Alex"

for letter in name:
    print(letter)

A
l
e
x

Встроенный объект range позволяет итерироваться по целым числам:

In [3]:
for i in range(3):
    print(i)

0
1
2

In [4]:
result = 0

for i in range(101):
    result += i

print(result)

5050

In [5]:
for i in range(5, 8):
    print(i)

5
6
7

In [6]:
for i in range(1, 10, 2):
    print(i)

1
3
5
7
9

In [7]:
for i in range(10, 5, -1):
    print(i)

10
9
8
7
6

Вот простейший пример использования цикла, где в качестве множества значений используется кортеж:

In [1]:
models = ['decision tree', 'linear model', 'svm', 'ensemble']

for model in models:
    print(model)

decision tree
linear model
svm
ensemble

Как правило, циклы for используются либо для повторения какой-либо последовательности действий заданное число раз, либо для изменения значения переменной в цикле от некоторого начального значения до некоторого конечного.

Для повторения цикла некоторое заданное число раз n можно использовать цикл for вместе с функцией range:

In [2]:
for i in range(4):  # равносильно инструкции for i in 0, 1, 2, 3:
    # здесь можно выполнять циклические действия
    print(i, i**2)
# цикл закончился, поскольку закончился блок с отступом
print('Конец цикла')

0 0
1 1
2 4
3 9
Конец цикла

В качестве n может использоваться числовая константа, переменная или произвольное арифметическое выражение (например, 2 ** 10). Если значение n равно нулю или отрицательное, то тело цикла не выполнится ни разу.

Функция range может также принимать не один, а два параметра. Вызов range(a, b) означает, что индексная переменная будеть принимать значения от a до b - 1, то есть первый параметр функции range, вызываемой с двумя параметрами, задает начальное значение индексной переменной, а второй параметр — первое значение, которое индексная переменная принимать не будет.

Вот простейший пример использования цикла, где в качестве множества значений используется **кортеж**

In [3]:
i = 1
for color in 'red', 'orange', 'yellow', 'green', 'cyan', 'blue', 'violet':
    print('#', i, ' color of rainbow is ', color, sep = '')
    i += 1

#1 color of rainbow is red
#2 color of rainbow is orange
#3 color of rainbow is yellow
#4 color of rainbow is green
#5 color of rainbow is cyan
#6 color of rainbow is blue
#7 color of rainbow is violet

Или даже так

In [4]:
for i in 1, 2, 3, 'one', 'two', 'three':
    print(i)

1
2
3
one
two
three

Наконец, чтобы организовать цикл, в котором индексная переменная будет уменьшаться, необходимо использовать функцию range с тремя параметрами. Первый параметр задает начальное значение индексной переменной, второй параметр — значение, до которого будет изменяться индексная переменная (не включая его!), а третий параметр — величину изменения индексной переменной. Например, сделать цикл по всем нечетным числам от 1 до 99 можно при помощи функции range(1, 100, 2), а сделать цикл по всем числам от 100 до 1 можно при помощи range(100, 0, -1).

Более формально, цикл for i in range(a, b, d) при d > 0 задает значения индексной переменной i = a, i = a + d, i = a + 2 * d и так для всех значений, для которых i < b. Если же d < 0, то переменная цикла принимает все значения i > b

In [5]:
for i in range (100, 0, -10):
    print(i)

100
90
80
70
60
50
40
30
20
10

**pass**

Определяет пустой блок, который ничего не делает

In [8]:

for i in range(100):
    pass

### Цикл **while**

Цикл while (“пока”) позволяет выполнить одну и ту же последовательность действий, пока проверяемое условие истинно. Условие записывается до тела цикла и проверяется до выполнения тела цикла. Как правило, цикл while используется, когда невозможно определить точное значение количества проходов исполнения цикла.

Синтаксис цикла while в простейшем случае выглядит так:

In [7]:
x = 100

while x > 50:
    x -= 10
    print(x)

90
80
70
60
50

При выполнении цикла while сначала проверяется условие. Если оно ложно, то выполнение цикла прекращается и управление передается на следующую инструкцию после тела цикла while. Если условие истинно, то выполняется инструкция, после чего условие проверяется снова и снова выполняется инструкция. Так продолжается до тех пор, пока условие будет истинно. Как только условие станет ложно, работа цикла завершится и управление передастся следующей инструкции после цикла.

После тела цикла можно написать слово else: и после него блок операций, который будет выполнен один раз после окончания цикла, когда проверяемое условие станет неверно:

In [8]:
i = 1
while i <= 10:
    print(i)
    i += 1
else:
    print('Цикл окончен, i =', i)

1
2
3
4
5
6
7
8
9
10
Цикл окончен, i = 11

### break

Оператор break позволяет выйти из цикла досрочно:

In [9]:
result = 0

while True:
    result += 1
    if result >= 100:
        break

print(result)

100

### continue

Оператор continue используется, когда в блоке цикла нужно перейти к следующей итерации цикла без выполнения оставшихся инструкций в блоке:

In [10]:
result = 0

for i in range(10):
    if i % 2 != 0:
        continue
    result += i

print(result)

20

### Пример 1. Программа "Угадай число"

In [11]:
import random

number = random.randint(0, 100)

while True:
    answer = input('Угадайте число: ')
    if answer == "" or answer == "exit":
        print("Выход из программы")
        break

    if not answer.isdigit():
        print("Введите правильное число")
        continue
        
    answer = int(answer)
    
    if answer == number:
        print('Совершенно верно!')
        break

    elif answer < number:
        print('Загаданное число больше')
    else:
        print('Загаданное число меньше')

Угадайте число: 15
Загаданное число больше
Угадайте число: 50
Загаданное число меньше
Угадайте число: 25
Загаданное число меньше
Угадайте число: 17
Загаданное число больше
Угадайте число: 19
Загаданное число больше
Угадайте число: 21
Совершенно верно!

**Задание 1**
В первый день спортсмен пробежал x километров, а затем он каждый день увеличивал пробег на 10% от предыдущего значения. По данному числу y определите номер дня, на который пробег спортсмена составит не менее y километров.

Программа получает на вход действительные числа x и y и должна вывести одно натуральное число.

In [ ]:
# ваш код

**Задание 2** Даны два целых числа A и В. Выведите все числа от A до B включительно, в порядке возрастания, если A < B, или в порядке убывания в противном случае.

In [ ]:
# ваш код

**Задание 3** По данному натуральному n вычислите сумму 1<sup>3</sup>+2<sup>3</sup>+3<sup>3</sup>+...+n<sup>3</sup>.

In [ ]:
# ваш код

**Задание 4** Определите среднее значение всех элементов последовательности, завершающейся числом 0. Сам конечный 0 не учитывать.

In [ ]:
# ваш код

## str - строки

В *python2.7* есть отдельный тип **unicode**. В *python3.5 (и выше)* (который будем использовать мы) всё это включено в тип **str**.
Строка считывается со стандартного ввода функцией input(). Напомним, что для двух строк определена операция сложения (конкатенации), также определена операция умножения строки на число.

Строка состоит из последовательности символов. Узнать количество символов (длину строки) можно при помощи функции len.

Любой другой объект в Питоне можно перевести к строке, которая ему соответствует. Для этого нужно вызвать функцию str(), передав ей в качестве параметра объект, переводимый в строку.

In [19]:
x = "abc"
y = 'xyz'
print(x, '|', type(x))
print(y, '|', type(y))

abc | <class 'str'>
xyz | <class 'str'>

Конкатенация строк

In [13]:
a = 'Александр'
b = "Николаевич"
s = a + " " + b
print(s)

Александр Николаевич

Смена регистра

In [14]:
print(a.upper())
print(a.lower())

АЛЕКСАНДР
александр

Определение длины строки

In [15]:
print(len(a))

9

In [16]:
print(bool(a))
print(bool("" + ''))

True
False

**"Cырые" (r-строки):**

In [17]:
example_string = "Файл на диске c:\\\\"
print(example_string)

example_string = r"Файл на диске c:\\"
print(example_string)

Файл на диске c:\\
Файл на диске c:\\

Как разбить объявление длинной строки:

In [18]:
example_string = "Perl — это тот язык, который одинаково " \
                 "выглядит как до, так и после RSA шифрования." \
                 "(Keith Bostic)"
print(example_string)

Perl — это тот язык, который одинаково выглядит как до, так и после RSA шифрования.(Keith Bostic)

In [19]:
example_string = """
Есть всего два типа языков программирования: те, на которые 
люди всё время ругаются, и те, которые никто не использует.

Bjarne Stroustrup
"""
print(example_string)

Есть всего два типа языков программирования: те, на которые
люди всё время ругаются, и те, которые никто не использует.

Bjarne Stroustrup

**Срез (slice)** — извлечение из данной строки одного символа или некоторого фрагмента подстроки или подпоследовательности.

Есть три формы срезов. Самая простая форма среза: взятие одного символа строки, а именно, **S[i]** — это срез, состоящий из одного символа, который имеет номер i. При этом считается, что нумерация начинается с числа 0. То есть если `S = 'Hello'`, то `S[0] == 'H'`, `S[1] == 'e'`, `S[2] == 'l'`, `S[3] == 'l'`, `S[4] == 'o'`.
Номера символов в строке (а также в других структурах данных: списках, кортежах) называются индексом.

Если указать отрицательное значение индекса, то номер будет отсчитываться с конца, начиная с номера -1. То есть `S[-1] == 'o'`, `S[-2] == 'l'`, `S[-3] == 'l', S[-4] == 'e', S[-5] == 'H'`.
Срез с двумя параметрами: `S[a:b]` возвращает подстроку из b - a символов, начиная с символа c индексом a, то есть до символа с индексом b, не включая его. Например, S[1:4] == 'ell', то же самое получится если написать S[-4:-1]. Можно использовать как положительные, так и отрицательные индексы в одном срезе, например, S[1:-1] — это строка без первого и последнего символа (срез начинается с символа с индексом 1 и заканчиватеся индексом -1, не включая его).
Если опустить второй параметр (но поставить двоеточие), то срез берется до конца строки. 

Например, чтобы удалить из строки первый символ (его индекс равен 0), можно взять срез S[1:]. Аналогично если опустить первый параметр, то можно взять срез от начала строки. То есть удалить из строки последний символ можно при помощи среза S[:-1]. Срез S[:] совпадает с самой строкой S.
Если задать срез с тремя параметрами S[a:b:d], то третий параметр задает шаг, как в случае с функцией range, то есть будут взяты символы с индексами a, a + d, a + 2 * d и т. д. При задании значения третьего параметра, равному 2, в срез попадет кажый второй символ, а если взять значение среза, равное -1, то символы будут идти в обратном порядке. Например, можно перевернуть строку срезом S[::-1].

In [20]:
print(a)
print(a[0])
print(a[1])
print(a[0:3])

Александр
А
л
Але

In [21]:
print(a[0:4:2])

Ае

Выражение for .. in позволяет итерироваться по строке:

In [25]:

example_string = "Привет"
for letter in example_string:
    print("Буква", letter)

Буква П
Буква р
Буква и
Буква в
Буква е
Буква т

Встроенная функция input()
Позволяет получить ввод пользователя в виде строки

In [26]:
name = input("Введи свое имя: ")

f"Привет, {name}!"

Введи свое имя: Антон

'Привет, Антон!'

### Форматирование строк
1-ый способ форматирования:

In [28]:

template = "%s — главное достоинство программиста. (%s)"
template % ("Лень", "Larry Wall")

'Лень — главное достоинство программиста. (Larry Wall)'

2-ой способ:

In [29]:
"{} не лгут, но {} пользуются формулами. ({})".format(
    "Цифры", "лжецы", "Robert A. Heinlein"
)

'Цифры не лгут, но лжецы пользуются формулами. (Robert A. Heinlein)'

Еще способ:

In [30]:
"{num} Кб должно хватить для любых задач. ({author})".format(
    num=640, author="Bill Gates"
)

'640 Кб должно хватить для любых задач. (Bill Gates)'

И еще f-строки, Python >= 3.6:

In [31]:

subject = "оптимизация"
author = "Donald Knuth"

f"Преждевременная {subject} — корень всех зол. ({author})"

'Преждевременная оптимизация — корень всех зол. (Donald Knuth)'

Модификаторы форматирования:

In [32]:
num = 8
f"Binary: {num:#b}"

'Binary: 0b1000'

In [33]:
num = 2 / 3
print(num)

print(f"{num:.3f}")

0.6666666666666666
0.667

Больше описания и примеров в документации:

https://docs.python.org/3/library/string.html

### Методы
Метод — это функция, применяемая к объекту, в данном случае — к строке. Метод вызывается в виде Имя_объекта.Имя_метода(параметры). Например, S.find("e") — это применение к строке S метода find с одним параметром "e".

Метод `find` находит в данной строке (к которой применяется метод) данную подстроку (которая передается в качестве параметра). Функция возвращает индекс первого вхождения искомой подстроки. Если же подстрока не найдена, то метод возвращает значение -1.

In [22]:
S = 'Hello'
print(S.find('e'))
# вернёт 1
print(S.find('ll'))
# вернёт 2
print(S.find('L'))
# вернёт -1

1
2
-1

In [1]:
# Аналогично, метод rfind возвращает индекс последнего вхождения данной строки (“поиск справа”).
S = 'Hello'
print(S.find('l'))
# вернёт 2
print(S.rfind('l'))
# вернёт 3

2
3

Если вызвать метод `find` с тремя параметрами S.find(T, a, b), то поиск будет осуществляться в срезе S[a:b]. Если указать только два параметра S.find(T, a), то поиск будет осуществляться в срезе S[a:], то есть начиная с символа с индексом a и до конца строки. Метод S.find(T, a, b) возращает индекс в строке S, а не индекс относительно среза.

#### Метод replace 
Метод `replace` заменяет все вхождения одной строки на другую. Формат: `S.replace(old, new)` — заменить в строке S все вхождения подстроки old на подстроку new. Пример:

In [23]:
print('Hello'.replace('l', 'L'))
# вернёт 'HeLLo'

HeLLo

Если методу `replace` задать еще один параметр: S.replace(old, new, count), то заменены будут не все вхождения, а только не больше, чем первые count из них.

#### Метод count
Подсчитывает количество вхождений одной строки в другую строку. Простейшая форма вызова S.count(T)  возвращает число вхождений строки T внутри строки S. При этом подсчитываются только непересекающиеся вхождения, например:

In [24]:
print('Abracadabra'.count('a'))
# вернёт 4
print(('a' * 10).count('aa'))
# вернёт 5

4
5

### Метод `split()`:

In [2]:
splitted_line = "Райгородский Андрей Михайлович".split(' ')
print(splitted_line)

['Райгородский', 'Андрей', 'Михайлович']

**Задание 5**

Дана строка.

Сначала выведите третий символ этой строки.

Во второй строке выведите предпоследний символ этой строки.

В третьей строке выведите первые пять символов этой строки.

В четвертой строке выведите всю строку, кроме последних двух символов.

В пятой строке выведите все символы с четными индексами (считая, что индексация начинается с 0, поэтому символы выводятся начиная с первого).

В шестой строке выведите все символы с нечетными индексами, то есть начиная со второго символа строки.

В седьмой строке выведите все символы в обратном порядке.

В восьмой строке выведите все символы строки через один в обратном порядке, начиная с последнего.

В девятой строке выведите длину данной строки.

In [ ]:
#ваш код

**Задание 6**
Условие
Дана строка, состоящая ровно из двух слов, разделенных пробелом. Переставьте эти слова местами. Результат запишите в строку и выведите получившуюся строку.

При решении этой задачи не стоит пользоваться циклами и инструкцией if.

In [5]:
#ваш код

**Задание 7**
Условие
Дана строка, в которой буква h встречается минимум два раза. Удалите из этой строки первое и последнее вхождение буквы h, а также все символы, находящиеся между ними.

In [ ]:
#ваш код

**Задание 8**
Условие
Дана строка, в которой буква h встречается как минимум два раза. Разверните последовательность символов, заключенную между первым и последним появлением буквы h, в противоположном порядке.

In [ ]:
#ваш код

---

### Полезно

- При вызове метода какого-то класса (или функции какого-то модуля) можно написать его имя и через точку нажать **tab**:  

<имя\_объекта\_класса(модуля)>**.[tab]**  

Тогда всплывёт меню, в котором можно выбрать из всех существующих в этом классе методов (функций модуля).

In [6]:
__builtin__.

SyntaxError: invalid syntax (<ipython-input-6-977c20662c44>, line 1)

- Получение быстрой справки (help()) для любого объекта Python:

In [43]:
?__builtin__

## Структуры данных и встроенные функции

## list - список (массив)

Большинство программ работает не с отдельными переменными, а с набором переменных. Например, программа может обрабатывать информацию об учащихся класса, считывая список учащихся с клавиатуры или из файла, при этом изменение количества учащихся в классе не должно требовать модификации исходного кода программы.

Раньше мы сталкивались с задачей обработки элементов последовательности, например, вычисляя наибольший элемент последовательности. Но при этом мы не сохраняли всю последовательность в памяти компьютера. Однако, во многих задачах нужно именно сохранять всю последовательность, например, если бы нам требовалось вывести все элементы последовательности в возрастающем порядке (“отсортировать последовательность”).

Для хранения большого количества однотиных данных можно использовать структуру данных, называемую в Питоне **список** (в большинстве же языков программирования используется другой термин “массив”). Список представляет собой последовательность элементов, пронумерованных от 0, как символы в строке. Список можно задать перечислением элементов списка в квадратных скобках, например, список можно задать так:

In [1]:
a = list()
b = []
# пустой список
print(a == b)

True

In [2]:
my_list = ['string', 100, 5.678, None]

Primes = [2, 3, 5, 7, 11, 13]
Rainbow = ['Red', 'Orange', 'Yellow', 'Green', 'Blue', 'Indigo', 'Violet']
print(my_list)
print(Primes)
print(Rainbow)

['string', 100, 5.678, None]
[2, 3, 5, 7, 11, 13]
['Red', 'Orange', 'Yellow', 'Green', 'Blue', 'Indigo', 'Violet']

Также как и символы в строке, элементы списка можно индексировать отрицательными числами с конца, например, `Primes[-1] == 13, Primes[-6] == 2`. В отличие от строк, элементы списка можно изменять, присваивая им новые значения.

In [3]:
Rainbow = ['Red', 'Orange', 'Yellow', 'Green', 'Blue', 'Indigo', 'Violet']
print(Rainbow[0])
Rainbow[0] = 'красный'
print('Выведем радугу')
for i in range(len(Rainbow)):
    print(Rainbow[i])

Red
Выведем радугу
красный
Orange
Yellow
Green
Blue
Indigo
Violet

Прежде всего, можно создать пустой список (не содержащий элементов, длины 0), а в конец списка можно добавлять элементы при помощи метода append. В этом примере создается пустой список, далее считывается количество элементов в списке, затем по одному считываются элементы списка и добавляются в его конец.

In [4]:
a = []
for i in range(int(input())):
    a.append(int(input()))
print(a)

5
1
2
3
4
5
[1, 2, 3, 4, 5]

Для списков целиком определены следующие операции: конкатенация списков (сложение списков, т. е. приписывание к одному списку другого) и повторение списков (умножение списка на число). Например:

In [5]:
a = [1, 2, 3]
b = [4, 5]
c = a + b
d = b * 3
print([7, 8] + [9])
print([0, 1] * 3)

[7, 8, 9]
[0, 1, 0, 1, 0, 1]

* `list(range(start, end[, step]))` - получить последовательность (список) целых чисел, начинающуюся со `start`, заканчивающуюся в `end-1` и шагом `step`

In [6]:
array = range(1, 10, 2)
print(array, '|', type(array))

range(1, 10, 2) | <class 'range'>

In [7]:
array[0]

1

In [8]:
array = list(array)
print(array, '|', type(array))

[1, 3, 5, 7, 9] | <class 'list'>

In [9]:
array[1]

3

In [10]:
array[-1]

9

In [11]:
for i in range(5):
    print(i)

0
1
2
3
4

Возможно несоклько способов вывода списка на экран. 1) Функция print выведет список в квадратных скобках. 2) Вывод в цикле поэлементно

In [12]:
a = [1, 2, 3, 4, 5]
print(a)
for elem in a:
    print(elem, end=' ')

[1, 2, 3, 4, 5]
1 2 3 4 5

В этом примере элементы списка выводятся в одну строку, разделенные пробелом, при этом в цикле меняется не индекс элемента списка, а само значение переменной (например, в цикле for elem in `['red', 'green', 'blue']` переменная `elem` будет последовательно принимать значения `'red', 'green', 'blue'`.

Обратите особое внимание на последний пример! Очень важная часть идеологии Питона — это цикл for, который предоставляет удобный способ перебрать все элементы некоторой последовательности. В этом отличие Питона от Паскаля, где вам обязательно надо перебирать именно индексы элементов, а не сами элементы.
Последовательностями в Питоне являются строки, списки, значения функции range() (это не списки), и ещё кое-какие другие объекты.

Приведем пример, демонстрирующий использование цикла for в ситуации, когда из строки надо выбрать все цифры и сложить их в массив как числа.

In [13]:
# дано: s = 'ab12c59p7dq'
# надо: извлечь цифры в список digits,
# чтобы стало так:
# digits == [1, 2, 5, 9, 7]

s = 'ab12c59p7dq'
digits = []
for symbol in s:
    if '1234567890'.find(symbol) != -1:
        digits.append(int(symbol))
print(digits)

[1, 2, 5, 9, 7]

* Перевернуть список:

In [14]:
array = array[::-1]
array

[9, 7, 5, 3, 1]

## Методы split и join

Элементы списка могут вводиться по одному в строке, в этом случае строку целиком можно считать функцией input(). После этого можно использовать метод строки split(), возвращающий список строк, которые получатся, если исходную строку разрезать на части по пробелам. Пример:

In [16]:
# на вход подаётся строка
# 1 2 3
s = input()  # s == '1 2 3'
a = s.split()  # a == ['1', '2', '3']
print(a)

11 2 3
['11', '2', '3']

Можно преобразовывать эти элементы к целым значениям по очереди

In [18]:
for i in range(len(a)):
    a[i] = int(a[i])
print(a)

[11, 2, 3]

Используя специальную магию Питона — генераторы — то же самое можно сделать в одну строку:

In [7]:
a = [int(s) for s in input().split()]

1 2 3

Объяснение того, как работает этот код, будет дано в следующем разделе. Если нужно считать список действительных чисел, то нужно заменить тип int на тип float.

У метода split() есть необязательный параметр, который определяет, какая строка будет использоваться в качестве разделителя между элементами списка. Например, вызов метода split('.') вернет список, полученный разрезанием исходной строки по символам '.':

In [19]:
a = '192.168.0.1'.split('.')
print(a)

['192', '168', '0', '1']

В Питоне можно вывести список строк при помощи однострочной команды. Для этого используется метод строки join. У этого метода один параметр: список строк. В результате возвращается строка, полученная соединением элементов переданного списка в одну строку, при этом между элементами списка вставляется разделитель, равный той строке, к которой применяется метод.

In [20]:
a = ['red', 'green', 'blue']
print(' '.join(a))
# вернёт red green blue
print(''.join(a))
# вернёт redgreenblue
print('***'.join(a))
# вернёт red***green***blue

red green blue
redgreenblue
red***green***blue

Если же список состоит из чисел, то придется использовать еще тёмную магию генераторов. Вывести элементы списка чисел, разделяя их пробелами, можно так:

In [1]:
a = [1, 2, 3]
print(' '.join([str(i) for i in a]))
# следующая строка, к сожалению, вызывает ошибку:
# print(' '.join(a))

1 2 3

## **Генераторы**

Для создания списка, заполненного одинаковыми элементами, можно использовать оператор повторения списка, например:

In [3]:
n = 5
a = [0] * n

Для создания списков, заполненных по сложным формулам можно использовать **генераторы**: выражения, позволяющие заполнить список некоторой формулой. Общий вид генератора следующий: [выражение **for** переменная **in** последовательность]

где переменная — идентификатор некоторой переменной, последовательность — последовательность значений, который принимает данная переменная (это может быть список, строка или объект, полученный при помощи функции range), выражение — некоторое выражение, как правило, зависящее от использованной в генераторе переменной, которым будут заполнены элементы списка.

Вот несколько примеров использования генераторов.

Создать список, состоящий из n нулей можно и при помощи генератора:

In [2]:
a = [0 for i in range(5)]
print(a)

[0, 0, 0, 0, 0]

In [22]:
n = 5
a = [i ** 2 for i in range(n)]
print(a)

[0, 1, 4, 9, 16]

Вот так можно получить список, заполненный случайными числами от 1 до 9 (используя функцию randrange из модуля random):

In [25]:
from random import randrange
n = 10
a = [randrange(1, 10) for i in range(n)]
print(a)

[2, 3, 7, 8, 1, 4, 9, 5, 5, 6]

А в этом примере список будет состоять из строк, считанных со стандартного ввода: сначала нужно ввести число элементов списка (это значение будет использовано в качестве аргумента функции range), потом — заданное количество строк:

In [27]:
a = [input() for i in range(int(input()))]
print(a)

2
ывамц
цмацм
['ывамц', 'цмацм']

## Срезы (`slice`'s) 
это объекты языка Python, позволяющие получить какую-то часть итерируемого объекта.  
Пример:

In [54]:
foo = list(range(10))
foo

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [55]:
foo[:5]

[0, 1, 2, 3, 4]

In [56]:
foo[5:]

[5, 6, 7, 8, 9]

In [57]:
foo[2:5]

[2, 3, 4]

Со списками, так же как и со строками, можно делать срезы. А именно:

A[i:j]  срез из j-i элементов A[i], A[i+1], ..., A[j-1].

A[i:j:-1]  срез из i-j элементов A[i], A[i-1], ..., A[j+1] (то есть меняется порядок элементов).

A[i:j:k]  срез с шагом k: A[i], A[i+k], A[i+2*k],... . Если значение k<0, то элементы идут в противоположном порядке.

Каждое из чисел i или j может отсутствовать, что означает “начало строки” или “конец строки”

Списки, в отличии от строк, являются изменяемыми объектами: можно отдельному элементу списка присвоить новое значение. Но можно менять и целиком срезы. Например:

In [28]:
A = [1, 2, 3, 4, 5]
A[2:4] = [7, 8, 9]
print(A)

[1, 2, 7, 8, 9, 5]

In [36]:
A = [1, 2, 3, 4, 5, 6,  7]
A[::-2] = [10, 20, 30, 40]
print(A)

[40, 2, 30, 4, 20, 6, 10]

**Некоторые операции со списками**

**x in A**	Проверить, содержится ли элемент в списке. Возвращает True или False  
**x not in A**	То же самое, что not(x in A)  
**min(A)**	Наименьший элемент списка  
**max(A)**	Наибольший элемент списка  
**A.index(x)**	Индекс первого вхождения элемента x в список, при его отсутствии генерирует исключение ValueError  
**A.count(x)**	Количество вхождений элемента x в список

In [39]:
A = list(range(10))
print(A)
print(10 in A)
print(10 not in A)
print(min(A))
print(max(A))
print(A.index(8))
A[::2]=[8]*5
print(A)
print(A.count(8))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
False
True
0
9
8
[8, 1, 8, 3, 8, 5, 8, 7, 8, 9]
5

### Методы класса list

In [1]:
l = [4, 5, 1, 3, 2]

l.append(-5)
l

[4, 5, 1, 3, 2, -5]

* `sorted(iterable, key)` - возвращает объект, являющийся отсортированной в соответствии с компаратором (по ключу) `key` версией объекта `iterable`. **НЕ изменяет начальный объект!**

In [2]:
print(sorted(l), '|', l)

[-5, 1, 2, 3, 4, 5] | [4, 5, 1, 3, 2, -5]

In [3]:
l.pop()

-5

In [4]:
print(sorted(l), '|', l)

[1, 2, 3, 4, 5] | [4, 5, 1, 3, 2]

## Сортировка по ключу

In [5]:
def cmp(string):
    return len(string)

In [6]:
names = ['Александр', 'Василий', 'Анастасия', 'Соня', 'Френк', 'Оля']
sorted(names, key=cmp)

['Оля', 'Соня', 'Френк', 'Василий', 'Александр', 'Анастасия']

In [7]:
names = ['Александр', 'Василий', 'Анастасия', 'Соня', 'Френк', 'Оля']
sorted(names, key=lambda x: len(x))

['Оля', 'Соня', 'Френк', 'Василий', 'Александр', 'Анастасия']

In [8]:
names

['Александр', 'Василий', 'Анастасия', 'Соня', 'Френк', 'Оля']

* `L.sort(key)` - сортирует лист L в соответствии с компаратором (по ключу) key. **Изменяет начальный объект!**

In [9]:
l.sort(reverse=True)
l

[5, 4, 3, 2, 1]

* `L.count(element)` - возвращает количество вхождений элемента `element` в список `L`

In [10]:
l.count(1)

1

In [11]:
l.count('padabum')

0

In [12]:
len(l)

5

`L.index(element)` - возвращает индекс элемента `element` в списке `L`, если он там присутствует, `None` иначе

In [13]:
l.index(3)

2

**Задание 9**  
Условие
Петя перешёл в другую школу. На уроке физкультуры ему понадобилось определить своё место в строю. Помогите ему это сделать.
Программа получает на вход невозрастающую последовательность натуральных чисел, означающих рост каждого человека в строю. После этого вводится число X – рост Пети. Все числа во входных данных натуральные и не превышают 200.

Выведите номер, под которым Петя должен встать в строй. Если в строю есть люди с одинаковым ростом, таким же, как у Пети, то он должен встать после них.

In [ ]:
# ваш код здесь

**Задание 10**  
Условие
Дан список чисел. Определите, сколько в этом списке элементов, которые больше двух своих соседей, и выведите количество таких элементов. Крайние элементы списка никогда не учитываются, поскольку у них недостаточно соседей.

In [16]:
# ваш код здесь

---

### Задание 11

*Выведите* список из 100 чисел *через запятую*. **Чистыми циклами пользоваться нельзя.** (list comprehensions можно)

In [4]:
# Ваш код здесь

---

Мы познакомились языком Python. Дальше нас ждёт знакомство с библиотеками **NumPy, SciPy** и **Matplotlib**, часто используемыми в анализе данных.

## Список материалов для самостоятельного изучения

* *Сайт языка Python* - https://www.python.org/

* *Курс Python с нуля, можно выполнять задания в интерактивном режиме* - http://pythontutor.ru/

* *Новый онлайн-курс по Питону на Coursera от Mail.Ru Group* - https://www.coursera.org/learn/programming-in-python

* *Самоучитель Python* - https://pythonworld.ru/samouchitel-python

* *Статья про коварности Python* - https://habrahabr.ru/company/mailru/blog/337364/

* *Очень полезные трюки в Jupyter Notebook*: https://www.dataquest.io/blog/jupyter-notebook-tips-tricks-shortcuts/